project:
  type: book

book:
  title: "Quantum Computing Handbook"
  cover-image: cover.png
  favicon: cover.png
  site-url: https://iraitzm.github.io/qc-handbook/
  repo-url: https://github.com/IraitzM/qc-handbook
  author: "Iraitz Montalbán"
  date: "6/25/2025"
  page-navigation: true
  search: true
  sharing: [linkedin]
  sidebar:
    collapse-level: 1
    content: auto
    pinned: false
    style: docked
    background: light
  page-footer: 
    left: "Copyright 2025, Iraitz Montalbán" 
    right: 
      - icon: github
        href: https://github.com/IraitzM
      - icon: linkedin 
        href: https://www.linkedin.com/in/iraitzmontalban/
    border: false
    background: light
  chapters:
    - index.qmd
    - parts/intro.qmd
    - part: parts/gettingstarted/qc-intro.md
      chapters:
      - parts/gettingstarted/basics.qmd
      - parts/gettingstarted/gates.qmd
      - parts/gettingstarted/simulations.qmd
      - parts/gettingstarted/phasekickback.qmd
      - parts/gettingstarted/classicalqc.qmd

    - part: "Quantum Computers"
      chapters:
      - parts/computers/firstrealizations.md
      - parts/computers/technology.md
      - parts/computers/machinetypes.md
      - parts/computers/serviceproviders.md
      - parts/computers/challenges.md

    - part: "Algorithms"
      chapters:
      - parts/algorithms/complexity.md

    - part: parts/algorithms/optimization.qmd
      chapters:
      - parts/algorithms/adiabatic.md
      - parts/algorithms/aqc.qmd
      - parts/algorithms/problemposing.md
      - parts/algorithms/quboformulations.qmd
      - parts/algorithms/usingexistingframeworks.ipynb
      - parts/algorithms/otherconsiderations.md

    - part: parts/algorithms/trainingcircuits.qmd
      chapters:
      - parts/algorithms/digitizedaqc.md
      - parts/algorithms/examplesfordaqc.qmd
      - parts/algorithms/variational.qmd
      - parts/algorithms/vqe.md
      - parts/algorithms/optimizingcircuits.qmd
      - parts/algorithms/qaoa.md
      - parts/algorithms/qaoaexample.qmd
      - parts/algorithms/extras.md

    - part: parts/qml/index.md
      chapters:
      - parts/qml/embedding.md
      - parts/qml/featuremaps.qmd
      - parts/qml/kernels.qmd
      - parts/qml/svm.qmd
      - parts/qml/qnns.qmd
      - parts/qml/qnnexample.ipynb
      - parts/qml/challenges.md

    - parts/references.qmd
  appendices:
    - parts/appendix/libraries.md
    - parts/appendix/hybridsolvers.qmd
    - parts/appendix/submit_circuit.ipynb
    - parts/appendix/quantumfeatures.qmd
    - parts/examples/tsp.qmd

bibliography: parts/references.bib
bibliographystyle: american-physics-society
# More on: https://typst.app/docs/reference/model/bibliography/#parameters-style

format:
  html:
    include-in-header: static/code_head.html
    include-before-body: static/code_body.html
    number-depth: 2
    theme: 
     - cosmo
     - style.scss
    code-link: true

# Some SEO
metadata:
  lang: en
  twitter-card: false
  open-graph: true
  image: cover.png

resources:
  - robots.txt



